name: Publish Package

on:
  release:
    types: [created]
  push:
    branches: [ "main", "develop" ]
    paths-ignore:
      - 'packages/base/.github/workflows/**'
      - 'packages/base/README.md'
      - 'packages/base/CHANGELOG.md'
      - 'packages/base/CONTRIBUTING.md'
      - 'packages/base/CODE_OF_CONDUCT.md'

  workflow_dispatch:

jobs:
  publish-gpr:
    name: Build and Publish to GPR
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://npm.pkg.github.com/
          cache: 'yarn'
          cache-dependency-path: 'packages/base/yarn.lock'
      - run: cp README.md packages/base/README.md
      - run: yarn
        working-directory: packages/base
      - run: yarn build
        working-directory: packages/base
      - run: npm publish --registry=https://npm.pkg.github.com/
        name: Publish to GitHub Package Registry
        working-directory: packages/base
        env:
          NODE_AUTH_TOKEN: ${{secrets.GH_TOKEN}}

  publish-npm:
    name: Build and Publish to NPM
    runs-on: ubuntu-latest
    needs: publish-gpr
    permissions:
      contents: write
      packages: write
    if: github.ref == 'refs/heads/main'    
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/ # Use NPM registry for setup
          cache: 'yarn'
          cache-dependency-path: 'packages/base/yarn.lock'
      - run: cp README.md packages/base/README.md
      - run: yarn
        working-directory: packages/base
      - run: yarn build
        working-directory: packages/base
      - run: |
          npm config set //registry.npmjs.org/:_authToken=${{secrets.NPM_TOKEN}}
          npm publish --access=public --registry=https://registry.npmjs.org/
        name: Publish to NPM
        working-directory: packages/base
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      
      - name: Get package version
        id: package-version
        run: echo "version=$(node -p "require('./packages/base/package.json').version")" >> $GITHUB_OUTPUT
      
      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ steps.package-version.outputs.version }}
          release_name: Release v${{ steps.package-version.outputs.version }}
          body: |
            ## Release v${{ steps.package-version.outputs.version }}
            
            Published to NPM: https://www.npmjs.com/package/@jescrich/nestjs-workflow/v/${{ steps.package-version.outputs.version }}
            
            See [CHANGELOG.md](https://github.com/jescrich/nestjs-workflow/blob/main/packages/base/CHANGELOG.md) for details.
          draft: false
          prerelease: false